@model E_Sale.ViewModel.HomeViewModel
<style>

    body {
        background-image: url(../../assets/images/pw_maze_white.png);
        background-repeat: repeat;
    }

    #prof
    {
        width:100px;
        height:100px;
    }

    .page-header1 {
        margin-top: 0px;
        padding-top: 9px;
        padding-bottom: 9px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
</style>

<div class="container text-center" style="margin-top:10px;">
    <div class="row">
        <div class="col-sm-3 ">

            <div class="thumbnail">
                <img id="prof" src="https://placehold.it/350x150"class="img-circle text-center" alt="...">
                <p style="margin-top:5px;"><a href="#">@(Model.user.FirstName +" "+ Model.user.LastName) </a></p>
            </div>


            
            <div class="thumbnail" style="margin-top:10px;">

                <div class="col-md-12" style="margin-top:10px; margin-left:10px; margin-right:10px;">
                    <div class="page-header1">
                        Followed Companies
                    </div>
                </div>

                @foreach (var item in Model.FollowedCompanies)
                {
                    <p>@Html.ActionLink(@item.Name, "Home", "Company", new { id = @item.ID }, null)</p>


                }
            </div>
        </div>
        <div class="col-sm-7">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">

                            <div class="col-md-12" style="margin-left:10px; margin-right:10px;">
                                <div class="page-header1">
                                    Post your Thoughts
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <div class="col-md-12" style="margin-left:10px; margin-right:10px;">
                                <div class="page-header1">
                                    News Feed
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @foreach (var item in Model.FollowedCompaniesPosts)
            {
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <p>@(item.Company.Name)</p>
                            <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="thumbnail">
                            <p>@item.Text</p>
                        </div>
                    </div>
                </div>

            }

            
            
           
        </div>
        <div class="col-sm-2 well">
            <div class="thumbnail">
                <p>Upcoming Events:</p>
                <img src="paris.jpg" alt="Paris" width="400" height="300">
                <p><strong>Paris</strong></p>
                <p>Fri. 27 November 2015</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
