@model E_Sale.ViewModel.ProductViewModel

<link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

<style>
    body {
        background-image: url(../../assets/images/pw_maze_white.png);
        background-repeat: repeat;
    }

    .thumbnail {
        background-color: #fff;
        border-radius: 10px;
    }

    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }

    .container {
        margin-right: 25px;
        margin-left: 25px;
    }

    .content {
        margin-top: 15px;
    }

    #prof {
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }

    textarea {
        width: 100%;
    }

    .page-header1 {
        margin-top: 0px;
        padding-top: 9px;
        padding-bottom: 9px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .thumb
    {
        max-height : 200px;
    }
</style>


<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-3">
                @Html.Partial("_Company_Sidenav")
            </div>

            <div class="col-md-9">
                @if (ViewBag.id == Model.Company.ID)
                { 
                <div class="thumbnail">

                 @using (Html.BeginForm("Product", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
                 {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            
                            <div class="col-md-12" style="margin-top:10px; margin-left:10px; margin-right:10px;">
                                <div class="page-header1">
                                   Add new Product
                                </div>
                            </div>

                            <hr />

                            @Html.ValidationSummary(true)


                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Price)
                                </div>
                            </div>


                            <div class="form-group">
                                    <label class="control-label col-md-2">Choose Image</label>

                                <div class="col-md-10">
                                    <label class="btn btn-default btn-file">
                                        Browse <input type="file" name="image" style="display: none;">
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                }
                <br />
                <div class="thumbnail">

                    <div class="col-md-12" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                        <div class="page-header1">
                            Products
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="margin-top:15px; margin-left:10px; ">

                        @{var l = 0;}
                        

                        @foreach (var item in Model.Products)
                        {
                            
                        
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="~/@item.Photo.URL" class="img-responsive thumb" alt="...">
                                <div class="caption">
                                    <h4>@item.Name</h4>
                                    <p>@item.Price</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>
                        </div>

                            if ((l+1) % 4 == 0)
                            { 
                               @:</div><div class="row" style="margin-left:10px; margin-top:15px;">
                            }

                        }
                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>

        $('#sidenav li:nth-child(2)').addClass("active");
    </script>
</body>